<div class="text-center" style="min-height:1000px;">
    <div class="card custom-card">
        <img src="~/pics/Sofia/C.jpg" class="card-img-top" alt="Sofia">
        <div class="card-body">
            <h5 class="card-title">Sofia</h5>
            <p class="card-text">Capital and largest city of Bulgaria. The city is at the foot of Vitosha Mountain</p>
            <a asp-area="" asp-controller="Home" asp-action="Sofia" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card custom-card">
        <img src="~/pics/Plovdiv/C.jpg" class="card-img-top" alt="Plovdiv">
        <div class="card-body">
            <h5 class="card-title">Plovdiv</h5>
            <p class="card-text">The second-largest city in Bulgaria and the culture capital of Bulgaria</p>
            <a asp-area="" asp-controller="Home" asp-action="Plovdiv" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card custom-card">
        <img src="~/pics/Varna/C.jpg" class="card-img-top" alt="Varna">
        <div class="card-body">
            <h5 class="card-title">Varna</h5>
            <p class="card-text">The third largest city in Bulgaria and the largest city and seaside resort on the Bulgarian Black Sea Coast</p>
            <a asp-area="" asp-controller="Home" asp-action="Varna" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card custom-card">
        <img src="~/pics/Burgas/C.jpg" class="card-img-top" alt="Burgas">
        <div class="card-body">
            <h5 class="card-title">Burgas</h5>
            <p class="card-text">The second largest city on the Bulgarian Black Sea Coast and the fourth-largest in Bulgaria</p>
            <a asp-area="" asp-controller="Home" asp-action="Burgas" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>
